<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="margentoadmin" frontName="margentoadmin">
            <module name="Margento_ModuloBasico" before='Magento_Backend' />
        </route>
        <route id="joseadmin" frontName="joseadmin">
            <module name="Margento_ModuloBasico" before='Magento_Backend' />
        </route>
    </router>
</config>
